<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Todo List</h1>
        <ul>
            {% for todo in todos %}
                <li>
                    {{ todo.content }}
                    <a href="{{ url_for('delete', id=todo.id) }}" class="delete-button">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('add') }}" method="post">
            <input type="text" name="content" placeholder="New Todo">
            <button type="submit">Add</button>
        </form>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
